.paginator {
	display: flex;
	flex-direction: row;
	height: 30px;
}

.paginator .page-changer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	border: 1px solid grey;
	cursor: pointer;
	background: white;
}

.paginator .page-changer:hover {
	background-color: lightgray;
}

.paginator .page-changer:active {
	background-color: gray;
}

.paginator .page-changer:first-of-type {
	content: "\25C2";
	border-radius: 15px 0 0 15px / 15px 0 0 15px;
}

.paginator .page-changer:last-of-type {
	content: "\25B8";
	border-radius: 0 15px 15px 0 / 0 15px 15px 0;
}

.paginator .page-selector {
	position: relative;
	display: flex;
	height: 30px;
	width: 37px;
}

.paginator .page-selector .page-index, .paginator .page-selector .page-display {
	position: absolute;
	text-align: center;
	height: 100%;
	width: 37px;
	border: 0;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	outline: 0;
	box-sizing: border-box;
}

.paginator .page-selector .page-index {
	z-index: 1;
}

.paginator .page-selector .page-display {
	z-index: 0;
}

.paginator .page-selector .page-index.hidden {
	z-index: -1;
}

.paginator .page-display {
	cursor: pointer;
}