main.store {
    display: grid;
    grid-template-columns: 1fr 300px 10fr 1fr;
    grid-template-rows: 65px auto;
    justify-items: center;
    align-items: start;
    gap: 10px 20px;
}

.filters {
    grid-column-start: 2;
    grid-row-start: span 2;
}

.settings {
    grid-column-start: 3;
}

.item-list {
    grid-column-start: 3;
}