<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/index.css">
        <link rel="stylesheet" href="styles/nav.css">
        <link rel="stylesheet" href="styles/filters.css">
        <link rel="stylesheet" href="styles/settings.css">
        <link rel="stylesheet" href="styles/items.css">
    </head>
    <body>
        <nav>
            <div class="navigation">
                <div class="logo-section">
                    <input id="logo" type="image" src="https://placehold.co/120x50" alt="logo" />
                </div>
                <div class="empty-space-section"></div>
                <div class="search-bar-section">
                    <form autocomplete="off">
                        <div class="search-bar">
                            <input class="search-bar-input-area" type="text" name="SearchBar" placeholder="Search" />
                            <input id="search-link" class="search-bar-button-area" type="image" src="https://placehold.co/40x40" alt="magnifier" />
                        </div>
                    </form>
                </div>
                <div class="menu-section">
                    <input id="basket-link" type="image" src="https://placehold.co/40x40" alt="basket" />
                    <input id="profile-link" type="image" src="https://placehold.co/40x40" alt="profile" />
                </div>
            </div>
            <div class="menu">
                <div class="empty-space"></div>
                <div class="option-section">
                    <input id="sign-in-link" type="button" value="Sign in" />
                </div>
                <div class="option-section">
                    <input id="sign-up-link" type="button" value="Sign up" />
                </div>
            </div>
        </nav>
        <main>
            <section class="filters">
                <div class="title-section">
                    <h2>Filters</h2>
                    <input type="button" value="&#x2716;" />
                </div>
                <div class="filter-section drop-down-section expanded">
                    <label class="drop-down-label" for="price-from">Price</label>
                    <div class="range-setting drop-down-content">
                        <span class="range-input">
                            <input type="text" id="price-from" value="0" />
                        </span>
                        <span class="range-dash">&ndash;</span>
                        <span class="range-input">
                            <input type="text" id="price-to" value="999" />$
                        </span>
                    </div>
                </div>
                <div class="filter-section drop-down-section">
                    <label class="drop-down-label">Processor</label>
                    <div class="checkbox-list drop-down-content">
                        <span class="checkbox-option">
                            <input type="checkbox" id="Intel Core i3" value="Intel Core i3" />
                            <label for="Intel Core i3">Intel Core i3</label>
                        </span>
                        <span class="checkbox-option">
                            <input type="checkbox" id="Intel Core i5" value="Intel Core i5" />
                            <label for="Intel Core i5">Intel Core i5</label>
                        </span>
                        <span class="checkbox-option">
                            <input type="checkbox" id="Intel Core i7" value="Intel Core i7" />
                            <label for="Intel Core i7">Intel Core i7</label>
                        </span>
                        <span class="checkbox-option">
                            <input type="checkbox" id="Ryzen 3" value="Ryzen 3" />
                            <label for="Ryzen 3">Ryzen 3</label>
                        </span>
                        <span class="checkbox-option">
                            <input type="checkbox" id="Ryzen 5" value="Ryzen 5" />
                            <label for="Ryzen 5">Ryzen 5</label>
                        </span>
                        <span class="checkbox-option">
                            <input type="checkbox" id="Ryzen 7" value="Ryzen 7" />
                            <label for="Ryzen 7">Ryzen 7</label>
                        </span>
                    </div>
                </div>
                <div class="filter-section drop-down-section">
                    <label class="drop-down-label">RAM</label>
                    <div class="checkbox-list drop-down-content">
                        <span class="checkbox-option">
                            <input type="checkbox" id="8GB" value="8GB" />
                            <label for="8GB">8GB</label>
                        </span>
                        <span class="checkbox-option">
                            <input type="checkbox" id="16GB" value="16GB" />
                            <label for="16GB">16GB</label>
                        </span>
                        <span class="checkbox-option">
                            <input type="checkbox" id="32GB" value="32GB" />
                            <label for="32GB">32GB</label>
                        </span>
                    </div>
                </div>
                <div class="filter-section apply-section">
                    <input type="submit" class="apply-button" value="Apply filters" />
                    <input type="submit" class="default-button" value="Return default" />
                </div>
            </section>
            <section class="settings">
                <div class="setting-section">
                    <label for="category">Category</label>
                    <div class="select-list">
                        <input type="text" class="option" name="Category" id="category" value="Laptop" readonly />
                        <span class="option" data-value="Any">Any</span>
                        <span class="option" data-value="Headset">Headset</span>
                        <span class="option" data-value="Laptop">Laptop</span>
                    </div>
                </div>
                <div class="setting-section">
                    <label for="sortby">Sort&nbsp;by</label>
                    <div class="select-list">
                        <input type="text" class="option" name="SortBy" id="sortby" value="Name: Ascending" readonly />
                        <span class="option" data-value="Name: Ascending">Name: Ascending</span>
                        <span class="option" data-value="Name: Descending">Name: Descending</span>
                        <span class="option" data-value="Price: Lowest first">Price: Lowest first</span>
                        <span class="option" data-value="Price: Highest first">Price: Highest first</span>
                    </div>
                </div>
                <div class="setting-section">
                    <div class="paginator">
                        <span class="page-changer">&#x25C2;</span>
                        <input type="text" class="page-index idle" name="PageIndex" value="1" data-current-page="1" readonly/>
                        <span class="page-changer">&#x25B8;</span>
                    </div>
                </div>
                <div class="setting-section">
                    <div class="select-list iconed-select-list">
                        <input type="text" class="option" name="View" id="view" value="Gallery" readonly />
                        <span class="option" data-value="Gallery">
                            <p>Gallery</p>
                            <img src="https://placehold.co/20x20" alt="gallery icon">
                        </span>
                        <span class="option" data-value="List">
                            <p>List</p>
                            <img src="https://placehold.co/20x20" alt="list icon">
                        </span>
                    </div>
                </div>
            </section>
            <section class="item-list">
                <div class="item">
                    <div class="image-section">
                        <img src="https://placehold.co/150x150" alt="">
                    </div>
                    <div class="details-section">
                        <h3 class="item-name">Laptop #1 aaaaaaa aaaaa aaaaaa aaaa aaaa aaaaa</h3>
                        <ul class="additional-details">
                            <li>Processor: Ryzen 5</li>
                            <li>Memory: 16 GB</li>
                        </ul>
                    </div>
                    <div class="store-section">
                        <h3 class="store-price">$400.00</h3>
                        <div class="store-options">
                            <input type="image" src="https://placehold.co/20x20" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image-section">
                        <img src="https://placehold.co/150x150" alt="">
                    </div>
                    <div class="details-section">
                        <h3 class="item-name">Laptop #2 aaaaaaa aaaaa aaaaaa aaaa aaaa aaaaa</h3>
                        <ul class="additional-details">
                            <li>Processor: Intel Core i5</li>
                            <li>Memory: 32 GB</li>
                        </ul>
                    </div>
                    <div class="store-section">
                        <h3 class="store-price">$400.00</h3>
                        <div class="store-options">
                            <input type="image" src="https://placehold.co/20x20" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image-section">
                        <img src="https://placehold.co/150x150" alt="">
                    </div>
                    <div class="details-section">
                        <h3 class="item-name">Laptop #3 aaaaaaa aaaaa aaaaaa aaaa aaaa aaaaa</h3>
                        <ul class="additional-details">
                            <li>Processor: Ryzen 7</li>
                            <li>Memory: 8 GB</li>
                        </ul>
                    </div>
                    <div class="store-section">
                        <h3 class="store-price">$400.00</h3>
                        <div class="store-options">
                            <input type="image" src="https://placehold.co/20x20" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image-section">
                        <img src="https://placehold.co/150x150" alt="">
                    </div>
                    <div class="details-section">
                        <h3 class="item-name">Laptop #4 aaaaaaa aaaaa aaaaaa aaaa aaaa aaaaa</h3>
                        <ul class="additional-details">
                            <li>Processor: Intel Core i3</li>
                            <li>Memory: 8 GB</li>
                        </ul>
                    </div>
                    <div class="store-section">
                        <h3 class="store-price">$400.00</h3>
                        <div class="store-options">
                            <input type="image" src="https://placehold.co/20x20" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image-section">
                        <img src="https://placehold.co/150x150" alt="">
                    </div>
                    <div class="details-section">
                        <h3 class="item-name">Laptop #5 aaaaaaa aaaaa aaaaaa aaaa aaaa aaaaa</h3>
                        <ul class="additional-details">
                            <li>Processor: Intel Core i7</li>
                            <li>Memory: 16 GB</li>
                        </ul>
                    </div>
                    <div class="store-section">
                        <h3 class="store-price">$400.00</h3>
                        <div class="store-options">
                            <input type="image" src="https://placehold.co/20x20" />
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script type="text/javascript" src="scripts/nav.js"></script>
        <script type="text/javascript" src="scripts/components/drop-down-section.js"></script>
        <script type="text/javascript" src="scripts/components/paginator.js"></script>
        <script type="text/javascript" src="scripts/components/select-list.js"></script>
    </body>
</html>