nav {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.navigation {
    position: relative;
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 8fr 8fr 3fr;
    column-gap: 6px;
    height: 60px;
    background-color: white;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-section input {
    border-radius: 11px;
}

.menu-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-section input {
    border-radius: 11px;
}

.menu {
    position: absolute;
    top: 7px;
    z-index: 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 17fr 3fr 3fr;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.4s ease-out;
    pointer-events: auto;
    background-color: white;
}

.menu::after {
    content: '';
    position: relative;
    top: 0;
    grid-column-start: span 3;
    height: 7px;
    width: 100%;
    border-radius: 0 0 40% 40% / 0 0 100% 100%;
    box-shadow: 0px 2px 2px grey;
    overflow: hidden;
}

.menu.opened {
    transform: translateY(60px);
}

.menu .option-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
}

.menu .option-section a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%;
    border: 0;
    border-radius: 11px;
    background-color: lightgrey;
    cursor: pointer;
    text-decoration: none;
}

.menu .option-section a:active {
    background: grey;
}